@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "HomePage";
}
    <center>
        <h1> Welcome to Ace School Portal </h1>
        <div class="product-info">
            <button class="btn btn-secondary"><a asp-controller="App" asp-action="UserManagement" class="nav-link" style="color:lightskyblue">User Management</a></button>
            <button class="btn btn-secondary"><a asp-controller="Student" asp-action="StudentManagement" class="nav-link" style="color:lightgreen">Students Management</a></button>
            <br />
            <br />
            <button class="btn btn-secondary"><a asp-controller="Instructor" asp-action="InstructorManagement" class="nav-link" style="color:lightcoral">Instructors Management</a></button>
            <button class="btn btn-secondary"><a asp-controller="Subjects" asp-action="SubjectManagement" class="nav-link" style="color:lightyellow">Subjects Management</a></button>
        </div>
    </center>

